<div class="card bg-dark text-white">
  <img src="https://source.unsplash.com/featured/?cocktails/300x300" class="card-img" alt="coktail">
  <div class="card-img-overlay">
    
    <div class="container-show">
      <h1 class="card-title"> <%= @cocktail.name %> </h1>
      <p class="card-text">
      <h3>Description</h3>
        <% @cocktail.doses.each do |dose| %>
          <%= dose.description %>
          <%= link_to "ðŸ—‘ï¸",
                  dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
        <% end %>
        <% @cocktail.ingredients.each do |ingredient| %>
          <%= ingredient.name %>
        <% end %>
    </div>

    <%= link_to "Create a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-index" %>
    <%= link_to "Back to cocktails", cocktails_path, class: "btn btn-index" %>

  </div>
</div>